/* .container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-areas: "puzzle pieces";

  gap: 10px;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* style puzzle board */
#puzzle-board {
  /* grid-area: puzzle; */

  /* set puzzle size and border */
  width: 500px;
  height: 650px;
  border: 2px solid black;

  /* center the puzzle board */
  margin: auto;

  /* make sure pieces do not overlap/stack in a column */
  display: flex;
  flex-wrap: wrap;
}

/* style image pieces */
#puzzle-board img {
  width: 124px;
  height: 129px;
  border: 0.5px solid lightslategray;
}

/* style holder for pieces */
#pieces {
  /* grid-area: pieces; */

  width: 585px;
  height: 112px;
  border: 2px solid black;

  /* center pieces holder */
  margin: auto;

  /* make sure pieces do not overlap/stack in a column */
  display: flex;
  flex-wrap: wrap;
}

/* style image pieces */
#pieces img {
  width: 57.5px;
  height: 55px;
  border: 0.5px solid lightslategray;
}

#pieces img:hover {
  transform: scale(2);
  overflow: hidden;
}

/* img[src=""]:hover {
  content: url("images/empty.jpg");
} */
