* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(22, 21, 21);

  margin: 0;
  min-height: 100vh;
  display: grid;
}

.container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "hamburger"
    "works";

  /* have the container fill up the whole page */
  height: 100vh;

  gap: 10px;
}

/* CULT WORKS */

.works-container {
  grid-area: works;

  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 45px;
  padding-left: 5%;
  padding-top: 5%;
}

.nonMenuLink {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 255, 204);
  text-decoration: none;
}

.gallery {
  --n: 2; /* number of rows */
  --m: 3; /* number of columns */
  --s: 300px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1.5; /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
  height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
  grid-template-columns: repeat(var(--m), auto);

  padding-top: 2%;
  padding-bottom: 5%;
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.35s linear;
}

.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}

#visualsId {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#visualsId:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;

  animation-name: zoom;
  animation-duration: 0.6s;

  pointer-events: none;

  padding-bottom: 5%;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* HAMBURGER MENU */

.topNav {
  grid-area: hamburger;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: rgb(22, 21, 21);
}

.ham {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.menuX {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  background: black;
  width: 300px;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}

.showNav {
  transform: translateX(0);
}

.sideNav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 5rem;
}

.sideNav ul li a {
  display: block;
  color: white;
  padding-bottom: 10px;
  margin-top: 1rem;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.sideNav ul li a:hover,
.sideNav ul li a:focus {
  border-bottom: 2px solid white;
}

.overlay {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
}

.showOverlay {
  display: block;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

section:nth-child(even) {
  background-color: rgb(245, 245, 245);
}
