* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(22, 21, 21);
}

.container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "hamburger"
    "letter";

  /* have the container fill up the whole page */
  height: 100vh;

  gap: 10px;
}

/* WELCOME LETTER */

.letter-container {
  grid-area: letter;

  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 45px;
  padding-left: 5%;
  padding-top: 5%;
}

.nonMenuLink {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 255, 204);
  text-decoration: none;
}

.textWrapper {
  top: 50%;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: xx-large;
  background: rgba(255, 255, 255, 0.884);
  overflow: hidden;
}

.text {
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: bold;
  animation: translateText 5s linear;
  animation-iteration-count: 1;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
}

@keyframes translateText {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(10%);
  }
}

.text2 {
  color: rgb(98, 98, 98);
  padding-left: 2%;
  padding-bottom: 2%;
}

.text3:hover {
  color: rgb(74, 74, 74);
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

/* HAMBURGER MENU */

.topNav {
  grid-area: hamburger;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: rgb(22, 21, 21);
}

.ham {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.menuX {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  background: black;
  width: 300px;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}

.showNav {
  transform: translateX(0);
}

.sideNav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 5rem;
}

.sideNav ul li a {
  display: block;
  color: white;
  padding-bottom: 10px;
  margin-top: 1rem;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.sideNav ul li a:hover,
.sideNav ul li a:focus {
  border-bottom: 2px solid white;
}

.overlay {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
}

.showOverlay {
  display: block;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}

section:nth-child(even) {
  background-color: rgb(245, 245, 245);
}
